<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrar Sesión</title>
    <script src="/javascript/cerrarSesion.js"></script> 
</head>
<body>
    <script>
        cerrar_sesion2()
        document.location.href = '/home/login'
    </script>
</body>
</html>