<%-include("../templates/header")%>
<head>
    <link rel="stylesheet" href="/stylesheets/menu.css"></link>
    <script src="/javascript/dateTime.js"></script>
</head>
<%-include("../partials/navUsers")%>
<body>
    <main>
        <div class="tiempo" id="vencer">
            Tiempo restante
        </div>

        <div class="cuadros">
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipo">Ingresar equipos participantes</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Mostrar los equipos participantes</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/nuevoPatrocinador">Mostrar equipos y sus padrinos </a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/ver">Mostrar los equipos en cada categoría</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/nuevaModalidad">Editar equipo participante</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/ver">Eliminar equipo</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/ver">Eliminar inscripción</a></li><br>
                </ul>
            </div>
    
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipo">Ingresar patrocinantes</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Mostrar los patrocinantes</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/nuevoPatrocinador">Editar patrocinador</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/ver">Eliminar patrocinador</a></li><br>
                </ul>
            </div>
    
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipo">Mostrar modalidades</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Ingresar modalidad</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/nuevoPatrocinador">Modalidades y categorías</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/ver">Ingresar categorías</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/nuevaModalidad">Editar categorías</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/ver">Eliminar categorías</a></li><br>
                </ul>
            </div>
        </div>
        
        <div class="cuadros">
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipo">Ver Equipos</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Añadir Equipos</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/nuevoPatrocinador">Patrocinar</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/ver">Ver Patrocinador</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/nuevaModalidad">Nueva Modalidad</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/ver">Ver Modalidades</a></li><br>
                </ul>
            </div>
    
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipo">Ver Eventos</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Ingresar Eventos</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipo">Ver Organizadores</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Ingresar Organizadores</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Eliminar Organizadores</a></li><br>
                </ul>
            </div>
    
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipo">Ver Jueces</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Ingresar Jueces</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/nuevoPatrocinador">Eliminar Jueces</a></li><br>
                </ul>
            </div>
        </div>

        <div style="margin-bottom: 8%;">
                
        </div>

    </main>
    <script>
        let fecha = Number('<%= hora %>');
        tempTime(fecha, true);
        cambiarAviso(fecha, "vencer");
    </script>
    <%-include("../partials/footer")%>
</body>
</html>