<%-include("../templates/header")%>
<head>
    <link rel="stylesheet" href="/stylesheets/menu.css"></link>
    <script src="/javascript/dateTime.js"></script>
</head>
<%-include("../partials/navUsers")%>
<body>
    <main>
        <div class="tiempo" id="vencer">
            Tiempo restante
        </div>

        <div class="cuadros">
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/equipo/nuevoEquipo">Ingresar equipos participantes</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipo">Mostrar los equipos participantes</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/verEquipoUser">Equipos de este usuario</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/verPadrinos">Mostrar equipos y sus padrinos </a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/categoriaInscrita">Mostrar los equipos en cada categoría</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/editarEquipo">Editar equipo participante</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/eliminarEquipo">Eliminar equipo</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/equipo/eliminarCategoriaInscrita">Eliminar inscripción</a></li><br>
                </ul>
            </div>
    
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/nuevoPatrocinador">Ingresar patrocinador</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/ver">Mostrar los patrocinador</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/todos">Mostrar detalles de patrocinador</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/editarPatrocinador">Editar patrocinador</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/patrocinador/eliminarPatrocinador">Eliminar patrocinador</a></li><br>
                </ul>
            </div>
    
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/modalidad/ver">Modalidades y categorías</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/nuevaModalidad">Ingresar modalidad</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/modalidad/eliminarModalidad/">Eliminar Modalidad</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/categoria/nuevaCategoria/">Ingresar categorías</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/categoria/editarCategoria/">Editar categorías</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/categoria/eliminarCategoria">Eliminar categorías</a></li><br>
                </ul>
            </div>
        </div>
        
        <div class="cuadros">
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/evento/verEvento">Ver Eventos</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/evento/nuevoEvento">Ingresar Eventos</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/organizador/">Ver Organizadores</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/organizador/ingresar">Ingresar Organizadores</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/organizador/eliminar">Eliminar Organizadores</a></li><br>
                </ul>
            </div>
    
            <div class="opciones">
                <ul class="opciones-ul">
                    <li class="opcion-li"><a class="opcion" href="/juez/verJueces">Ver Jueces</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/juez/nuevoJuez">Ingresar Jueces</a></li><br>
                    <li class="opcion-li"><a class="opcion" href="/juez/eliminarJuez">Eliminar Jueces</a></li><br>
                </ul>
            </div>
        </div>

        <div style="margin-bottom: 8%;">
                
        </div>

    </main>
    <script>
        let fecha = Number('<%= hora %>');
        tempTime(fecha, true);
        cambiarAviso(fecha, "vencer");
    </script>
    <%-include("../partials/footer")%>
</body>
</html>