<%-include("./templates/header", {mainTitle: "Campeonato UVM"})%>
  <head>
    <link rel="stylesheet" href="/stylesheets/menu.css"></link>
  </head>
  <%-include("partials/nav")%>
  <%-include("partials/disclaimer")%>
  <body>
    <main class="mainIndex">
      <div class="container_index">
        <div class="h1_container">
          <h1>Campeonato de robótica UVM</h1>
        </div>
        <div class="img_container">
          <img class="imgIndx" src="/images/ROBOTICA01-1024x1024.png" alt="">
        </div>
      </div>

      <div class="opciones">
        <ul class="opciones-ul">
            <li class="opcion-li"><a class="opcion" href="/modalidad/ver">Ver modalidades y categorías del campeonato</a></li><br>
            <li class="opcion-li"><a class="opcion" href="/evento/verEvento">Mostrar eventos planificados</a></li><br>
            <li class="opcion-li"><a class="opcion" href="/patrocinador/ver">Ver patrocinadores</a></li><br>
        </ul>
    </div>

    <div style="margin-bottom: 8%;">
                
    </div>
    </main>
    <%-include("partials/footer")%>
  </body>
</html>
